.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.board{
  display: grid;
  grid-template-columns: repeat(3,8rem);
  grid-template-rows: repeat(3,10rem);
}
.jankari{
  margin-top: 4rem;
  font-size: 1.5rem;
}
.grid-item{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item:nth-child(3n){
  border-right: none;
}
.grid-item:nth-child(1),
.grid-item:nth-child(4),
.grid-item:nth-child(7){
  border-left: none;
}
.grid-item:nth-last-child(-n+3){
  border-bottom: none;
}

.grid-item:nth-child(-n+3){
  border-top: none;
}




